<% copywriting_phrases = @page.copywriting_phrases %>
<% if copywriting_phrases && copywriting_phrases.any? %>
  <div class='wym_skin_refinery page_part' id='copywriting-tab'>
    <% locales = if defined?(@locales) && @locales.present?
                    ::Refinery::I18n.locales.select { |locale, _title| @locales.include?(locale) }
                 else
                    ::Refinery::I18n.locales
                 end %>
    <ul class='collapsible_menu closed'>
      <% if @current_locale %>
        <% current_locale = @current_locale %>
        <% current_locale_title = locales[current_locale] %>
        <li>
          <span><%= current_locale_title %> (<%= current_locale %>)</span>
        </li>
      <% end %>
      <% locales.each do |locale, title| %>
        <% next if locale == @current_locale %>
        <li>
          <span><%= title %> (<%= locale %>)</span>
        </li>
      <% end %>
    </ul>
    <ul>
      <% copywriting_phrases.each do |phrase| %>
        <li>
          <%= f.fields_for :copywriting_phrases, phrase do |p| %>
            <%= render 'refinery/copywriting/admin/phrases/value_field', :f => p %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class='wym_skin_refinery page_part' id='copywriting-tab'>
    <p><%= t('.no_copywriting_yet') %></p>
  </div>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'refinerycms-copywriting-tab' %>
<% end %>
